/* Font variables */
$font-family-base: 'DDG_ProximaNova', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Nimbus Sans L', 'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;
$font-size-base: 14px;
$color-text-base: #333333;

/* Status icons */
/* Colors */
$color-neutral-light: #d0d0d0;
$color-neutral-dark: #88888
